@{
    ViewData["Title"] = "Videos";
}

<h3>Какие-то видосы</h3>
<form>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oTbeGpN1Qd0?si=GMNi0sf0FzndEvnt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</form>
<img src="https://imageup.ru/img24/4657819/snimok-ekrana-2023-12-09-075730.jpg"
        scrolling="no" height="200px" width="auto" frameborder="0" marginheight="0" marginwidth="0" >
</img>
